@import url('https://rsms.me/inter/inter.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Inter, "Inter UI", "Helvetica Now", "Helvetica Neue", Helvetica, Arial, sans-serif;

	color: #fff;
	font-weight: 400;
	font-size: 1.5rem;
	letter-spacing: -0.04em;
	line-height: 2rem;

	background-color: #000;
	background-image: url(res/background.svg);
	background-size: 50vmin;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-attachment: fixed;

	padding: 2rem 3rem;
}

@media screen and (max-width: 40rem) {
	body {
		background-image: none;
	}
}

.main-logo {
	height: 6rem;
	margin-left: -1.1rem;
}

p {
	margin-top: 2rem;
}

nav {
	display: flex;
	flex-direction: column;
}

nav > a {
	display: flex;
	align-items: center;

	width: max-content;

	text-decoration: none;
	color: #fff;
	opacity: 0.6;

	margin-top: 0.2em;

	transition: opacity 0.2s ease, color 0.2s ease;
}

nav > a[href]:hover {
	opacity: 1;
	color: var(--link-colour);
}

nav > a::before {
	content: "";
	background: var(--link-icon);
	background-color: currentColor;
	background-size: 100%;
	width: 1.75rem;
	height: 1.75rem;
	margin-right: 0.4em;
	margin-bottom: 1px;
	display: inline-block;
	transition: opacity 0.2s ease, background-color 0.2s ease;
}

nav > a[href]::after {
	content: "→";
	margin-left: 0.4em;
	margin-right: 0.4em;
	transition: margin 0.2s ease;
}

nav > a[href]:hover::after {
	margin-left: 0.8em;
	margin-right: 0em;
}

nav > a.copy-link {
	transition: opacity 0.2s ease, color 0.2s ease, transform 0.5s ease;
}
nav > a.copy-link::after {
	content: "";
	background: url(res/icons/copy-cutout.svg);
	background-color: currentColor;
	background-size: 100%;
	width: 1.75rem;
	height: 1.75rem;
	margin-bottom: 1px;
	display: inline-block;
}

nav > a.copy-link:hover::after {
	margin-left: 0.4em;
	margin-right: 0.4em;
}

nav > a.copy-link.copied {
	transform: translateY(0.2em);
	color: #ccc;
	transition: transform 0.05s ease;
}